[submodule "src/test/resources/ttml/imsc-tests"]
	path = src/test/resources/ttml/imsc-tests
	url = https://github.com/w3c/imsc-tests
[submodule "imsc-tests/"]
	url = https://github.com/sandflow/imsc-tests.git
[submodule "src/test/resources/ttml/ttml1-tests"]
	path = src/test/resources/ttml/ttml1-tests
	url = https://github.com/w3c/ttml1-tests.git
[submodule "src/test/resources/ttml/ttml2-tests"]
	path = src/test/resources/ttml/ttml2-tests
	url = https://github.com/w3c/ttml2-tests.git
